
create_binaries/*.app
create_binaries/build/*
create_binaries/dist/*
tests/data/*
debug_tests/*.txt

*.hdf5
*.pyc
*.m~
*.DS_Store
*.exe
*.so
*.Result
*.lprof

tierpsy.egg-info/
_site/
Gemfile*

*.o

tierpsy/extras/unet_RMSprop-5-04999-0.3997.h5
*.so
*.so
*.pyd
*.so
*.pyd
tierpsy/analysis/ske_create/segWormPython/cython_files/segWorm_cython.c
tierpsy/analysis/ske_create/segWormPython/cython_files/linearSkeleton_cython.c
tierpsy/analysis/ske_create/segWormPython/cython_files/cleanWorm_cython.c
tierpsy/analysis/stage_aligment/get_mask_diff_var.c
tierpsy/analysis/ske_create/segWormPython/cython_files/curvspace.c
tierpsy/analysis/ske_create/segWormPython/cython_files/circCurvature.c
