
create_binaries/*.app
create_binaries/build/*
create_binaries/dist/*
tests/data/*

*.hdf5
*.pyc
*.m~
*.DS_Store
*.exe
*.so

tierpsy.egg-info/
_site/
Gemfile*

*.o

tierpsy/extras/unet_norm_w_no_bn-04249-0.3976.h5
