
create_binaries/*.app
create_binaries/create_builds/build/*
create_binaries/create_builds/dist/*
tests/data/*
MWTracker.egg-info/*

*.hdf5
*.pyc

*.m~

*.DS_Store

*.so

*.so
*.exe

MWTracker/analysis/ske_create/segWormPython/cythonFiles/*.cpython-35m-darwin.so